.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  background-color: rgba(30, 30, 30, 1);
}

.div-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div--main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.div-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.h1-result {
  color: whitesmoke
}

.select-div {
  font-size: 28px;
  margin-right: 10px;
}

.input-div {
  font-size: 28px;
}

.div-div-form {
  display: flex;
  padding-right: 2em;
}

@media screen and (max-width: 1500px) {
  .App {
    height: 110vh;
  }
}
@media screen and (max-width: 1850px) {
  .App {
    height: 100%;
  }
}