@import url("about.css");
@import url("header.css");
@import url("dividers.css");
@import url("footer.css");
@import url("clients.css");
@import url("team.css");
@import url("overlay.css");
@import url("services.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Turrent Road";

}
html {
    scroll-behavior: smooth;
    }

body {
    margin: 0%;
    width: 100%;
    
}

li, a {
    
    /* font-weight: 500; */
    color: black;
    text-decoration: none;
}

