.sevrices {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 15%;
    padding-top: 5em;
    padding-bottom: 5em;
    
}


.div-service {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 5em;
    width: 70%;
}


.div-service img {
    padding-right: 1em;
    width: 124px;
    height: 124px; 
}

.about-first-service {
    font-size: 32px;
}

.p-about-first-service{
    font-size: 16px;
    color: rgba(41, 39, 39, 0.6);
    font-family: 'Inconsolata', sans-serif;
    
}





@media screen and (max-width: 1500px) {
    .div-service img {
        padding-right: 1em;
        width: 100px;
        height: 100px; 
    }
    
    .about-first-service {
        font-size: 28px;
    }
    }
    
@media screen and (max-width: 1250px) {
    .div-service img {
        padding-right: 0.5em;
        width: 80px;
        height: 80px; 
    }
    .sevrices {
        padding-bottom: 0;
    }
    .about-first-service {
        font-size: 24px;
    }
    .p-about-first-service{
        font-size: 14px;
    }
}
    
@media screen and (max-width: 950px) {
    .div-service img {
        padding-right: 1em;
        width: 65px;
        height: 65px;
    }
    .about-first-service {
        font-size: 16px;
    }
    .p-about-first-service{
        font-size: 12px;
    }
    .sevrices {
        padding-top: 3em;
    }
    }
    
 @media screen and (max-width: 870px) {
    .sevrices {
        padding-left: 10%;
        padding-right: 0%;
    }
    .div-service {
        margin-bottom: 1.5em;
    }
    }

    @media screen and (max-width: 550px) {
        .div-service img {
            padding-right: 1em;
            width: 46px;
            height: 46px;
        }
        .about-first-service {
            font-size: 16px;
            width: 50%;
        }
        .p-about-first-service{
            font-size: 8px;
        }
    }