
.text-person {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4em;
}


.grid-team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10em 10em 10em;
    justify-items: center;
    justify-content: space-between;
    padding-top: 5%;
    padding-left: 15%;
    padding-bottom: 2%;
}

.grid-team img {
    border-radius: 50%;
    width: 105px;
    height: 105px;
    opacity: 0.9;
    margin-right: 1em;
}

@media screen and (max-width: 870px) {
    .grid-team {
        padding-top: 5%;
        padding-left: 10%;
        padding-bottom: 2%;
        font-size: 12px;
    }
    
    .grid-team img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin-right: 1em;
    }
    } 

    @media screen and (max-width: 550px) {
        .grid-team {
            padding-top: 5%;
            padding-left: 7%;
            padding-bottom: 2%;
            font-size: 10px;
        }
        
        .grid-team img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: 0.5em;
        }
        .h1-service {
            font-size: 10px;
        }
    }