.pageCharacter {
    display: flex;
    
    .pageCharacter__filter {
        border-right: 2px solid black;     
    }

    .filter {
        .filter__block{
            position: sticky;
            top: 0em;
        }
    }
}