header {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    /* margin-right: 25px; */
    height: 958px;
    width: 97.3%;
    background-image: url('/Flower/image/flower.jpg');
    background-size: 156% 127%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 0%;
    border-radius: 5px;
    text-transform: uppercase;
    color: #434A43;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 50px;
}

.nav-div--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: auto;
}

.div-img--logo{
    width: 48px;
    height: 48px;
    padding-right: 0.7em;
    padding-bottom: 10px;
    /* opacity: 0.7; */
    mix-blend-mode: normal;
}

.nav-a {
    outline: none;
    text-decoration: none;
    color: #5d665d;
    font-size: 24px;
    font-family: "Biryani B";
    margin-left: 50px;
    /* opacity: 0.7; */
    letter-spacing: 2px;
    cursor: pointer;
}



.a-button--subscribe {
    color: #5d665d;
    background-color: none;
    border-radius: 5px;
    width: 250px;
    height: 67px;
    border: 3px solid #5d665d;
    outline: none;
    cursor: pointer;
    background: transparent;
    font-size: 26px;
    text-transform: uppercase;
    font-family: "Biryani B";
    margin-right: 50px;
    padding-top: 5px;
}
.a-button--subscribe:hover{
    background-color: #434A43;
    border: 3px solid #434A43;
    transition: .3s ease;
    color: #F2F4F1;
}

.a-button--subscribe:active {
    background-color: #2E342E;
    border: 3px solid #2E342E;
    color: #F2F4F1;
}

.div-h1--name {
    font-size: 36px;
    font-family: "Biryani B";

}
.nav__links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-right: 5em; */
}

.nav__links li {
    display: inline-block;
    color: 434A43
}


.nav-div--logo {
    padding-left: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hr {
    width: 170px;
    border: 2px solid #434A43;
    outline: none;
    margin-top: 0.9em;
}

.main-text {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    font-family: "Biryani L";
    font-weight: 100;
}

.header-h1--main-name {
    font-size: 142px;
    padding-top: 1.6em;
    padding-left: 0.15em;
    letter-spacing: 0.125em;
}

.header-p--second-name {
    font-size: 36px;
    letter-spacing: 0.125em;
    margin-top: -1.7em;
    padding-left: 0.2em;
}