hr {
    margin: 0;
    border: 1px solid #E5E4E4;
    width: 60%;
}
.fields-passwords {
    padding-top: 32px;
    &__first-password-block {
        display: grid;
        margin: 0;
        grid-template-columns: 1fr 1fr 5.55fr;
    }
    &__second-password-block {
        display: grid;
        margin: 0;
        grid-template-columns: 1fr 1fr 5.55fr;
        margin-bottom: 23px;
    }
    &__h2 {
        margin: 0;
        font-size: 21px;
        font-weight: 500;
    }
    &__desc-first p{
        margin:0;
        font-size: 12px;
        color: #999999;
        margin-left: 19px;
        margin-top: 10px;
    }
    &__desc-second p{
        margin:0;
        font-size: 12px;
        color: #999999;
        margin-left: 19px;
        width: 75%;
    }


}

.field-input {
    
    &__first-p-input {
        font-size: 21px;
        border: 1px solid #999999;
        outline: none;
        width: 335px;
        height: 31px;
        justify-self: flex-start;
        
    }
    &__first-p-input--red {
        font-size: 21px;
        border: 1px solid #FF0000;
        outline: none;
        width: 335px;
        height: 31px;
        justify-self: flex-start;
        
        
    }
    &__second-p-input {
        font-size: 21px;
        border: 1px solid #999999;
        outline: none;
        width: 335px;
        height: 31px;
    }
    &__second-p-input--red {
        font-size: 21px;
        border: 1px solid #FF0000;
        outline: none;
        width: 335px;
        height: 31px;
    }
    &__p--first--no-red {
        margin: 0;
        margin-bottom: 16px;
        font-size: 12px;
        height: 31px;
        
    }
    &__p--first--red {
        margin: 0;
        color:#FF0000;
        font-size: 12px;
        margin-bottom: 31px;
    }
    &__p--second--no-red {
        margin: 0;
        font-size: 12px;
        margin-bottom: 16px;
    }
    &__p--second--red {
        margin: 0;
        font-size: 12px;
        color:#FF0000;
        
    }
}