.name-user {
    display: flex;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;

    &__user {
        font-size: 30px;
        font-weight: bold;
        margin: 0;
        padding-right: 125px;
    }
    &__span{
        color: #666666;
    }
    &__changeStatus {
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        margin-bottom: 2px;
        color: #0C77BB;
        
    }
    &__line{
        border-top: 1px dashed #0C77BB;
        width: 86px;
    }
    &__btnChangeStatus {
        margin-bottom: 5px;
    }
}


@media screen and (max-width: 1800px) {
    .name-user {
        
    &__user {
        font-size: 24px;
        padding-right: 75px;
    }

    }
  }

  
@media screen and (max-width: 700px) {
    .name-user {
        
    &__user {
        font-size: 16px;
        padding-right: 16px;
    }
    &__line{
        border-top: 1px dashed #0C77BB;
        width: 85px;
    }
    &__changeStatus {
        font-size: 12px;

        margin-bottom: 1px;
        
    }

    }
  }  
  @media screen and (max-width: 400px) {
      .name-user {
          
      &__user {
          font-size: 14px;
          padding-right: 10px;
      }
      &__line{
          border-top: 1px dashed #0C77BB;
          width: 72px;
      }
      &__changeStatus {
          font-size: 10px;
          margin-bottom: 1px;
          
      }
  
      }
    }
  